<h3>Log_in</h3>
<%= form_for sign_in_path, method: :post do |f| %>

    <div class="form-group">
        <%= f.label :name "Enter your user name"%><br>
        <%= text_field_tag :name, class: "form-control" %>
    </div>

    <div class="form-group">
        <%= f.label :email "Enter your email"%><br>
        <%= text_field_tag :email, class: "form-control" %>
    </div>
  
    <div class="form-group">
      <%= f.label :password, "Enter your password" %><br>
      <%= f.password_field :password, class: "form-control" %>
    </div>
  
    <div class="actions">
      <%= f.submit "Sign In", class: "btn btn-primary" %>
    </div>
  <% end %>

<p><%= link_to('Log in with Google!', '/auth/google_oauth2') %></p>
