  <%= cache brewery_thread do %>
    <div class="brewery-thread">
      <div class="row">

        <div class="col">
          <h4>
          <%= link_to brewery_thread_path(brewery_thread) do %><%= brewery_thread.brewery %><% end %>
          </h4>

          <div class="brewery-thread-details">
            <%= brewery_state_link(brewery_thread.brewery_state) %>
            • Posted <%= time_ago_in_words(brewery_thread.created_at) + ' ago' %> by <%= user_link(brewery_thread.user) %>
          </div>
          <p class="text-muted" id="brewery_thread-<%= brewery_thread.id %>"><%= truncate(brewery_thread.posts.first.body, length: 150) %>
          <% if brewery_thread.posts.first.body.length > 150 %>
            <a href="#" class="js-more" data-id="<%= brewery_thread.id %>">Read more</a>
          <% end %>
          </p>

          <small><a href="/threads/<%= brewery_thread.id %>" class="text-muted js-comments">comments</a></small>
          
          <div class=".show-comments-<%= brewery_thread.id %>">
          </div>

        </div>
        <div class="col-sm-2">
          <%= link_to brewery_thread_path(brewery_thread), class: "brewery-thread-posts-count" do %>
            <span class="count"><%= brewery_thread.posts_count %></span>
            <small><%= "post".pluralize(brewery_thread.posts_count) %></small>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <hr />