<%= cache brewery_thread do %>
    <div class="brewery-thread">
      <div class="row">
  
        <div class="col-sm-1 text-center">
            <%= avatar_tag(brewery_thread.user.email) %>
        </div>
  
        <div class="col">  
          <div class="brewery-thread-details">
            <strong><%= brewery_state_link(brewery_thread.brewery_state) %></strong>
            • Posted <%= time_ago_in_words(brewery_thread.created_at) + ' ago' %> by <%= brewery_thread.user.name %>
          </div>
          <p class="text-muted"><%= truncate(brewery_thread.posts.first.body, length: 200) %></p>
        </div>
  
        <div class="col-sm-1 text-center">
          <%= link_to brewery_thread_path(brewery_thread), class: "brewery-thread-posts-count" do %>
            <span class="count"><%= brewery_thread.posts_count %></span>
            <small><%= "post".pluralize(brewery_thread.posts_count) %></small>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>