  <%= cache brewery_thread do %>
    <div class="brewery-thread">
      <div class="row">

        <div class="col">
          <h4>
          <%= link_to brewery_thread_path(brewery_thread) do %><%= brewery_thread.brewery %><% end %>
          </h4>

          <div class="brewery-thread-details">
            <%= brewery_state_link(brewery_thread.brewery_state) %>
            • Posted <%= time_ago_in_words(brewery_thread.created_at) + ' ago' %> by <%= user_link(brewery_thread.user) %>
          </div>
          <p class="text-muted" id="brewery_thread-<%= brewery_thread.id %>"><%= truncate(brewery_thread.posts.first.body, length: 150) %>
          <% if brewery_thread.posts.first.body.length > 150 %>
            <a href="/threads/<%= brewery_thread.id %>" class="js-more">Read more</a>
          <% end %>
          </p>
          <div class="show-comments-<%= brewery_thread.id %>">
            <% if brewery_thread.posts_count > 1 %>
              <small><a href="/threads/<%= brewery_thread.id %>" class="brewery-thread-posts-count js-comments"><%= brewery_thread.posts_count - 1 %> <%= "comment".pluralize(brewery_thread.posts_count - 1) %></a></small>
            <% else %>
              <% if session[:user_id] %>
                <%= link_to brewery_thread_path(brewery_thread), class: "text-muted" do %>post a comment<% end %>
              <% end %>
            <% end %>           
          </div>

          <% if session[:user_id] %>
            <div class="text-muted post-comment-<%= brewery_thread.id %>"></div>
          <% end %>     
        </div>
      </div>
    </div>
  <% end %>
  <hr />