<div class="row">
  <div class="col-md-12">
    
    <% if @brewery_thread.id == @brewery_threads.length %>
      <p><a href="/threads/<%= @brewery_thread.id %>" data-id="<%= @brewery_thread.id %>" class="text-muted js-previous">PREVIOUS REVIEW</a></p>
    <% elsif @brewery_thread.id == 1 %>
      <p><a href="/threads/<%= @brewery_thread.id %>" data-id="<%= @brewery_thread.id %>" class="text-muted js-next">NEXT REVIEW</a></p>
    <% else %>
      <p><a href="/threads/<%= @brewery_thread.id %>" data-id="<%= @brewery_thread.id %>" class="text-muted js-next">NEXT REVIEW</a> | <a href="/threads/<%= @brewery_thread.id %>" data-id="<%= @brewery_thread.id %>" class="text-muted js-previous">PREVIOUS REVIEW</a></p>
    <% end %>
    <h4 class="thread-header"> <%= @brewery_thread.brewery %></h4>
    <% if is_admin_or_author?(@brewery_thread) %>
      <%= link_to "Edit this thread", edit_brewery_thread_path(@brewery_thread), class: "edit-thread text-muted", title: "Edit this Thread" %>
    <% end %>

    <p class="card-header thread-details">
      <strong class="thread-state"><%= brewery_state_link(@brewery_thread.brewery_state) %></strong>
      <span class="thread-created">• Posted <%= time_ago_in_words(@brewery_thread.created_at) + ' ago' %></span> by <strong class="thread-user"><%= user_link(@brewery_thread.user) %></strong>
    </p>
  </div>
</div>
<div class="show-comments-<%= @brewery_thread.id %>">
  <%= render partial: "posts/post", collection: @brewery_thread.posts.includes(:user).sorted %>
</div>
  <% if session[:user_id] %>
    <%= render partial: "posts/form" %>
  <% end %>
<hr />

