<div class="row">
  <div class="col-md-12">
    
    <h4> <%= @brewery_thread.brewery %></h4>
    <% if is_admin_or_author?(@brewery_thread) %>
      <%= link_to "Edit this thread", edit_brewery_thread_path(@brewery_thread), class: "text-muted", title: "Edit this Thread" %>
    <% end %>

    <p class="thread-details">
      <strong><%= brewery_state_link(@brewery_thread.brewery_state) %></strong>
      • Posted <%= time_ago_in_words(@brewery_thread.created_at) + ' ago' %> by <%= user_link(@brewery_thread.user) %>
    </p>
  </div>
</div>
<%= render partial: "posts/post", collection: @brewery_thread.posts.includes(:user).sorted %>
<% if session[:user_id] %>
  <%= render partial: "posts/form" %>
<% end %>
