<div class="row">
  <div class="col-md-12">
    
    <h4 class="thread-header"> <%= @brewery_thread.brewery %></h4>
    <% if is_admin_or_author?(@brewery_thread) %>
      <%= link_to "Edit this thread", edit_brewery_thread_path(@brewery_thread), class: "edit-thread text-muted", title: "Edit this Thread" %>
    <% end %>

    <p class="thread-details">
      <strong class="thread-state"><%= brewery_state_link(@brewery_thread.brewery_state) %></strong>
      <span class="thread-created">• Posted <%= time_ago_in_words(@brewery_thread.created_at) + ' ago' %></span> by <strong class="thread-user"><%= user_link(@brewery_thread.user) %></strong>
    </p>
  </div>
</div>
<div class="thread-posts"
  <%= render partial: "posts/post", collection: @brewery_thread.posts.includes(:user).sorted %>
  <% if session[:user_id] %>
    <%= render partial: "posts/form" %>
  <% end %>
</div>
<a href="" class="js-next" data-id="<%= @brewery_thread.id %>">Next Review</a> | <a href="" class="js-previous" data-id="<%= @brewery_thread.id %>">Previous Review</a>

