<!DOCTYPE html>
<html>
  <head>
    <title>BreweryReviewery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="<%= root_url %>"/>Home</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <% if current_user %>
              <li><%= link_to "Hello, #{current_user.name}!", user_path(current_user) %></li>
              <li><%= link_to "Log Out", signout_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Sign Up", new_user_path %></li>
              <li><%= link_to "Sign In", signin_path %></li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="row col-md-12">
      <h1>Brewery Reviewery Community</h1>
    </div>

    <div class="row brewery_reviewery">
      <div class="col-md-3 mb-3">

        <div class="card card-body">
          <% if current_user %>
            <%= link_to 'Create a Brewery Review Thread', new_brewery_thread_path, class: "btn btn-outline-primary btn-block" %>
          <% else %>
            <%= link_to 'Create a Brewery Review Thread', new_user_path, class: "btn btn-outline-primary btn-block" %>
          <% end %>
          <hr />

          <div class="brewery-thread-filters">
            <h5><strong>Filters</strong></h5>
            <div><%= link_to "All Threads", brewery_threads_path %></div>
            <% if current_user %>
              <div><%= link_to "Your Brewery Threads", author_brewery_threads_path %></div>
              <div><%= link_to "Participating In", participant_brewery_threads_path %></div>
            <% end %>
        </div>

          <hr />

          <div class="brewery-thread-filters">
            <h6><strong>By State</strong></h6>
            <div><%= link_to "All", brewery_threads_path %></div>
            <% BreweryState.sorted.each do |state| %>
              <div><%= link_to state.name, brewery_state_brewery_threads_path(state) %></div>
            <% end %>
          </div>
        </div>

      </div>
      <div class="col-md-9 mb-3">
        <div class="card card-body">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
