<!DOCTYPE html>
<html>
  <head>
    <title>BreweryReviewery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="row col-md-12">
      <h1>Brewery Reviewery Community</h1>
    </div>

    <div class="row brewery_reviewery">
      <div class="col-md-3 mb-3">
        <div class="card card-body">
          <%= link_to 'Create Brewery Thread', new_brewery_thread_path, class: "btn btn-outline-primary btn-block" %>
        </div>
      </div>
      <div class="col-md-9 mb-3">
        <div class="card card-body">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
